jwt:
  secret: ${JWT_SEGREDO}
  expiration: ${JWT_EXPIRACAO}
  
server:
  servlet:
    context-path: /api
  tomcat:
    max-swallow-size: 20MB

spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORTA}/${DB_NOME}?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: ${DB_USUARIO}
    password: ${DB_SENHA}
    driver-class-name: com.mysql.cj.jdbc.Driver

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_LOGIN}
    password: ${EMAIL_SENHA}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  flyway:
    enable: true
    locations: classpath:db/migrations
